.mainContent{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 450px;
    align-items: center;
    justify-content: space-evenly;
    h2{
        margin: 0;
    }
    .linkCampus{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        justify-content: center;
        @mixin configBoton {
            display: flex;
            width: 350px;
            height: 100px;
            border-radius: 8px;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            a{
                text-decoration: none;
                margin-right: 10px
            }
        }
        .presentismo{
            @include configBoton;
            background:#673ab7;
        }
        .presentismo:hover{
            background-color: #683ab788;
        }
        .meet{
            @include configBoton;
            background: #118b81;
        }
        // .meet:hover{
        //     background-color: #118b819d;
        // }
        .campus{
            @include configBoton;
            background:  #fdd306;
        }
        // .campus:hover{
        //     background-color: #fdd40696;
        // }
        .videos{
            @include configBoton;
            background:  #ff0000;

            margin-top: 10px;
            img{
                margin-left: 25px;
            }
        }
        // .videos:hover{
        //     background-color: #ff000096;
        // }
        .wsp{
            @include configBoton;
            margin-top: 10px;
            background:  #17b825;
            img{
                margin-left: 25px;
            }
        }
        // .wsp:hover{
        //     background-color: #47c7569a;
        // }
        .excel{
            @include configBoton;
            background:  #107c41;
            margin-top: 10px;
        }
        // .excel:hover{
        //     background-color: #107c41a9;
        // }
        li:hover{
            position: relative;
            bottom: 5px;
            img{
                opacity: .5;
            }
        }
        li>a{
            color: white;
        }
        
    }
}





