* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContent h2 {
  margin: 0;
}

.mainContent .linkCampus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContent .linkCampus .presentismo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #673ab7;
}

.mainContent .linkCampus .presentismo a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .presentismo:hover {
  background-color: #683ab788;
}

.mainContent .linkCampus .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #118b81;
}

.mainContent .linkCampus .meet a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .meet:hover {
  background-color: #118b819d;
}

.mainContent .linkCampus .campus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #fdd306;
}

.mainContent .linkCampus .campus a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .campus:hover {
  background-color: #fdd40696;
}

.mainContent .linkCampus .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #ff0000;
  margin-top: 10px;
}

.mainContent .linkCampus .videos a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .videos img {
  margin-left: 25px;
}

.mainContent .linkCampus .videos:hover {
  background-color: #ff000096;
}

.mainContent .linkCampus .wsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border: 5px solid #47c756;
}

.mainContent .linkCampus .wsp a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .wsp img {
  margin-left: 25px;
}

.mainContent .linkCampus .wsp:hover {
  background-color: #47c7569a;
}

.mainContent .linkCampus .excel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 5px solid #107c41;
  margin-top: 10px;
}

.mainContent .linkCampus .excel a {
  text-decoration: none;
  margin-right: 10px;
}

.mainContent .linkCampus .excel:hover {
  background-color: #107c41a9;
}

.mainVideos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 450px;
}

.mainVideos h2 {
  margin: 30px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainVideos .galeriaVideos {
  width: 85vw;
  height: 300px;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mainVideos .galeriaVideos li {
  height: 70px;
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.mainVideos .galeriaVideos li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

@-webkit-keyframes jump {
  0% {
    position: relative;
    bottom: 5px;
  }
  50% {
    position: relative;
    bottom: 0px;
  }
  100% {
    position: relative;
    bottom: 5px;
  }
}

@keyframes jump {
  0% {
    position: relative;
    bottom: 5px;
  }
  50% {
    position: relative;
    bottom: 0px;
  }
  100% {
    position: relative;
    bottom: 5px;
  }
}

.mainVideos .inicio {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header {
  background: #fdd306;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  height: 80px;
  width: 200px;
  border-radius: 8px;
}

.main-footer {
  background: #fdd306;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: yellow;
  }
  .header img {
    width: 80px;
    height: auto;
  }
  .header .titulo {
    display: none;
  }
  .mainContent {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .mainContent h2 {
    margin: 10px 0;
  }
  .mainContent .linkCampus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .mainContent .linkCampus .presentismo {
    width: 90vw;
    margin: 10px 0;
  }
  .mainContent .linkCampus .meet {
    width: 90vw;
    margin: 10px 0;
  }
  .mainContent .linkCampus .campus {
    width: 90vw;
    margin: 10px 0;
  }
  .mainContent .linkCampus .videos {
    width: 90vw;
    margin: 10px 0;
  }
  .mainContent .linkCampus .wsp {
    width: 90vw;
    margin: 10px 0;
  }
  .mainContent .linkCampus .excel {
    width: 90vw;
    margin: 10px 0;
  }
  .header {
    background: #fdd306;
  }
  .footer {
    background: #fdd306;
  }
  .mainVideos .galeriaVideos {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .mainVideos .galeriaVideos li {
    margin: 0 10px 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */